**/__pycache__
**/*.pyc
.DS_Store
checkpoints/*
output/*
Engine/RetrievalAttention/profile/data/*
Engine/RetrievalAttention_new/logs/*
profile/data/*
profile/*
*.png
*.csv
*.sh

tests/RetrievalAttention_new/logs/*